#countLbl{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btnContainer{
    text-align: center;
}

.btn{
    padding: 10px 20px;
    font-size: 1.4em;
    color: azure;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn:hover{
    background-color: aqua;
}